/* .app_footer
{
    height: 60px;
    background-color: cornflowerblue;
} */

.socialmed1{
    margin: 5px;
    border: 1px solid transparent;
    padding: 20px;
}
.support{
    border-radius: 50px;
}